@model IEnumerable<WebApp2.Models.Department>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Tables - SB Admin</title>
        @*<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />*@
         <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="row">
        <div class="col-6">
            <div class="card card-primary mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-pie me-1"></i>
                    Bar Chart Example
                </div>
                <div class="card-body">
                    <div id="area-chart">
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
      @*  <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-pie me-1"></i>
                    Pie Chart Example
                </div>      
                <div class="card-body" id="chart">
                    <canvas id="pieChart" width="100%" height="50"></canvas>
                    </div>
                <div id="legend"></div>

                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>*@
        <div class="col-6">
            <div class="card card-primary mb-4">
                <div class="card-header">
                        <i class="fas fa-chart-pie me-1"></i>
                        Pie Chart Example
                    </div>
                <div class="card-body">
                    <div id="stat-chart">
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
      </div>
    <div class="container">
        <div class="row">
        <!-- Trigger the modal with a button -->
    <div class="container-fluid px-4">
        @*     <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        *@     <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
            </di>
            <div class="card-body">
        <div id="btn">
    <button type="button" class="btn btn-info btn-lg" id="btnCreate" data-bs-toggle="modal" data-bs-target="#modCreate" onclick="createDepartment()">Create Department</button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modCreate" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create</h4>
                    </div>
                    <div class="modal-body">
                       <div id="createData">

                       </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <p> </p>
    <table id="datatableSimple">
        <thead>
            <tr>
                <th>id</th>
                <th>Nama</th>
                <th>Button</th>
            </tr>
        </thead>
    </table>
        </div>
                @*<table id="datatablesSimple">
                <tbody>

                </tbody>
                </table>*@
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="departmentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="displayData">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


   @* <table class="table" id="datatablesSimple">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nama)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DivisionId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nama)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DivisionId)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
     

    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>*@
    @*<script src="~/js/site.js"></script*@
        @*<script src="~/js/site.js" ></script>*@
        @*<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>*@
     @*<script src="~/js/datatables-simple-demo.js"></script>*@
</body>
</html>
            